.container
  %h1.inline Spotchecks:
  = link_to 'Create New Spotcheck', '#', class: 'btn btn-default pull-right', id: 'create_new_spotcheck'


- current_user.affiliated_spotchecks.each do |spotcheck|
  .container
    %h2.inline= link_to "#{spotcheck.title}", spotcheck
    %i.inline= current_user.role_in(spotcheck)

= render 'form'