.container


  %h1.inline= @spotcheck.title

  = link_to 'Download', download_spotcheck_path, class: 'btn btn-default'


  - if current_user.is_checker_of(@spotcheck)
    .pull-right
      = link_to ' Create New Spot', 'javascript: void(0)', class: 'btn btn-default', id: 'create_new_spot'
      = link_to 'Delete Spotcheck', @spotcheck, {method: :delete,
                                               class: 'btn btn-danger',
                                               data: spotcheck_delete_confirm}

  - else
    .pull-right
      = link_to 'Show My Spots', 'javascript: void(0)', class: 'btn btn-default', id: 'show_my_spots'
      = link_to 'Show All Spots', 'javascript: void(0)', class: 'btn btn-default', id: 'show_all_spots'

%br
.container#spotcheck_spots
  - @spotcheck.assignees.order(:last_name).each do |assignee|
    = render partial: 'assignee_spots', locals: {assignee: assignee}


    - if @spotcheck.has_no_spots?
      %h4 This spotcheck currently has no spots.


= render 'spots/form'
