.container
  - if @spotcheck.checker.id == current_user.id
    = link_to 'Delete Spotcheck', @spotcheck, {method: :delete,
                                               class: 'btn btn-danger pull-right',
                                               data: spotcheck_delete_confirm}

  %h1.inline= @spotcheck.title

  - if @spotcheck.checker.id == current_user.id
    = link_to 'Create New Spot', 'javascript: void(0)', class: 'btn btn-default pull-right', id: 'create_new_spot'

.container
  - @spotcheck.assignees.order(:last_name).each do |assignee|
    .row
      .col-md-4
        %h4= assignee.formal_name
      .col-md-4{id: "total_hours_#{assignee.id}"}
        Total Hours:
        = assignee.total_hours(@spotcheck)
    %table.table.table-bordered.table-striped.spot_table
      %thead
        %tr
          %th Activity:
          %th Hours Worked:
          %th Hours Left:
          %th Work Accomplished:
          - if @spotcheck.checker == current_user
            %th.delete_column Delete:
      %tbody
      - assignee.spots_from(@spotcheck).each do |spot|
        = render spot, assignee: assignee


  - if @spotcheck.spots.blank?
    %h4 This spotcheck currently has no spots


= render 'spots/form'