.container
  - if @spotcheck.checker.id == current_user.id
    = link_to 'Delete Spotcheck', spotcheck_path, method: :delete, class: 'btn btn-danger pull-right', data: spotcheck_delete_confirm
  %h1.inline= @spotcheck.title

  - if @spotcheck.checker.id == current_user.id
    = link_to 'Create New Spot', '#', class: 'btn btn-default pull-right', id: 'create_new_spot'

.container
  - @spotcheck.assignees.each do |assignee|
    %h4= assignee.formal_name
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th Activity
          %th Hours Worked
          %th Work Accomplished
      %tbody
      - assignee.spots_from(@spotcheck).each do |spot|
        %tr
          %td= spot.title
          %td
            - if [spot.assignee.id, @spotcheck.checker.id].include? current_user.id
              %input.form-control.hours_worked.num-input{type: 'number', value: "#{spot.hours_worked}"}
            -else
              %p= spot.hours_worked
          %td
            - if [spot.assignee.id, @spotcheck.checker.id].include? current_user.id
              %textarea.form-control.work_accomplished
                = spot.work_accomplished
            - else
              = spot.work_accomplished
  - if @spotcheck.spots.blank?
    %h4 This spotcheck currently has no spots


= render 'spots/form'