%tr.activity_row.item
  %td.activity_title= activity.title
  %td.spotcheck_column
    - activity.spotchecks.each do |spotcheck|
      %p.spotcheck_title= link_to "- #{spotcheck.title}", spotcheck
  %td= assignees_list(activity)

  %td.hours_worked_column.center.center-text= activity.total_hours_worked
  %td.hours_left_column
    %input.form-control.hours_left.num-input.select{value: "#{activity.hours_left}",
                                                            maxlength: 5,
                                                            type: 'text',
                                                            data: {activity: activity.id}}

  %td.delete_column.center.center-text= link_to '', activity, {method: :delete,
                                                  data: activity_delete_confirm,
                                                  class: 'btn btn-danger glyphicon glyphicon-trash delete_spot'}
